@media screen and (max-width: 576px) {
    i{
        visibility: visible;
    }
    .button-nav{
        visibility: hidden;
    }
    .banner-main{
        flex-direction: column;
}
.banner-contant h1, p{
    padding-bottom: 10px;
}
.banner-left{
    width: 100%;
}
.banner-right{
    width: 100%; 
}
.habbit-img{

    flex-direction: column;
     /* margin-left: 5%; */
}
.Movement{
    margin-left: 110px;
    padding-bottom: 20px;
}

.run-and-extra{
    flex-direction: column;
    
}

.run-contant{
    width: 100%;
}
.run{
    width: 100%;
    padding-left: 10px;
}
.join{
    width: 80%;
}

.bmi-calculator{
    flex-direction: column;
}
.bmi-table{
    padding-right: 40px;
}
.calcutale-bmi{
    padding-left: 40px;
}
.Select{
    width: 290px;
}
.join-calculate{
    padding: 15px 80px;
}









}