@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter;
    background: rgb(0, 0, 0);;
    color: white;
}

.button{
    border-radius: 42px; 
    background: rgb(230, 83, 60); 
    padding: 10px 30px 10px 30px;
    color: white;
    border: rgb(230, 83, 60);
}

.button-download{
    border-radius: 42px; 
    border: 1px solid rgb(255, 255, 255);
    background: #0F0F0F;
    padding: 10px 30px 10px 30px;
    color: white;
}

.header-part{
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
}
.button-nav {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    margin-top: 10px;
}
i{
    visibility: hidden;
}

/* menu bar done */

.banner-main{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 10px;
}
.banner-left{
    width: 40%;
    margin-top: 105px;
}

.banner-contant{
    font-weight: bolder;
    font-size: larger;
}

.banner-bottom{
    margin-top: 10px;
    width: 100%;
    gap: 10px;
}

.banner-right{
    position: relative;
    width: 40%; 
}
.banner-right-img img{
    width: 80%;
    padding-left: 30px;
}
.free{
    border-radius: 10px;
    background: #373D3D;
    padding: 10px 10px;
    width: 30%;
    border: 1px solid #373D3D;
    color: white;
    font-weight: bolder;
    position: absolute;
    font-size: large;
    left: 200px;
    top: 90px;
}

.tutorial{
    border-radius: 10px;
    background: #373D3D;
    padding: 10px 10px;
    width: 30%;
    border: 1px solid #373D3D;
    color: white;
    font-weight: bolder;
    position: absolute;
    font-size: large;
    right: 280px;
    bottom: 50px;
}
/* habbit start */

.habbit-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 0 20px 0;
}
.habbit-img{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5% 0%;
}
.habbit-img img{
    border-radius: 50%;
}
/* finish
 */

 .run-and-extra{
    display: flex;
    width: 80%;
    background: #222222;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 20px;
 }

 .run-contant{
    width: 40%;
    margin-top: 35px;
    padding-left: 40px;
 }

 .run-contant h2{
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 15px;
 }
 .run-contant p{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
 }

 .join{
    border-radius: 42px; 
    background: rgb(230, 83, 60); 
    padding: 10px 40px;
    color: white;
    border: rgb(230, 83, 60);
 } 

 .run img{
    width: 360px;
    border-radius: 35px;
    padding: 27px;
    height: 300px;
 }

 .BMI{
    width: 80%;
    margin: 0 auto;
    padding-top: 48px;
    padding-left: 95px;
    padding-bottom: 50px;
 }
 .BMI p{
    font-size: small;
    padding-top: 15px;
 }

.bmi-calculator{
    background: #222222;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

table, tr, td{
     border: 1px solid 
    rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    width: 100%;
}

tr, td{
    padding: 10px;
}
.bmi-table{
    padding-left: 45px;
    padding-bottom: 20px;
}

.input-selector input, select{
    width: 35%;
    padding: 5px 30px 5px 5px;
    background: #393939;
    border-radius: 8px;
    border: #393939;

}
.calcutale-bmi{
    padding-right: 45px;
}
.Select{
    margin-top: 10px;
    width: 358px;
    margin-bottom: 10px;
}
.join-calculate{
    border-radius: 42px; 
    background: rgb(230, 83, 60); 
    padding: 10px 40px;
    color: white;
    border: rgb(230, 83, 60);
}

/* bmi finish */

.meet-team{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 0 20px 0;
    padding-bottom: 20px;
}

/* meet traine section start */

.meet-team-img{
    width: 80%;
    background: #1A1A1A;
    gap: 5px;
    margin: 0 auto;
    border-radius: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.meet-team-img img{
    width: 100%;
    border-radius: 18px;
    height: 80%;
    gap: 2px;
}

.traine-1{
    position: relative;
    padding-left: 20px;
    padding-top: 20px;
}


/* footer start here  */

.footer-last{
    background: #1A1A1A;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 60px;
    margin-top: 20px;
}

.footer-1{
    margin-top: 20px;
}
li{
    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
}
.footer-2{
    margin-top: 20px;
}


.hr{
     width: 50%;
    margin: 20px 20px 20px 120px;
 }  


 .all-right{
    padding-left: 40%; 
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
} 