@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter;
    background: rgb(0, 0, 0);;
    color: white;
}

.button{
    border-radius: 42px; 
    background: rgb(230, 83, 60); 
    padding: 10px 30px 10px 30px;
    color: white;
    border: rgb(230, 83, 60);
}

.button-download{
    border-radius: 42px; 
    border: 1px solid rgb(255, 255, 255);
    background: #0F0F0F;
    padding: 10px 30px 10px 30px;
    color: white;
}

.header-part{
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
}
.button-nav {
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    margin-top: 10px;
}
i{
    visibility: hidden;
}

/* menu bar done */

.banner-main{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 10px;
}
.banner-left{
    width: 40%;
    margin-top: 105px;
}

.banner-contant{
    font-weight: bolder;
    font-size: larger;
}

.banner-bottom{
    margin-top: 10px;
    width: 100%;
    gap: 10px;
}

.banner-right{
    position: relative;
    width: 40%; 
}
.banner-right-img img{
    width: 80%;
    padding-left: 30px;
}
.free{
    border-radius: 10px;
    background: #373D3D;
    padding: 10px 10px;
    width: 30%;
    border: 1px solid #373D3D;
    color: white;
    font-weight: bolder;
    position: absolute;
    font-size: large;
    left: 200px;
    top: 90px;
}

.tutorial{
    border-radius: 10px;
    background: #373D3D;
    padding: 10px 10px;
    width: 30%;
    border: 1px solid #373D3D;
    color: white;
    font-weight: bolder;
    position: absolute;
    font-size: large;
    right: 280px;
    bottom: 50px;
}
/* habbit start */

.habbit-contant{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 80px 0 20px 0;
}
.habbit-img{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 5% 0%;
}
.habbit-img img{
    border-radius: 50%;
}
/* finish
 */

 .run-and-extra{
    display: flex;
    width: 80%;
    background: #222222;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 20px;
 }

 .run-contant{
    width: 40%;
    margin-top: 35px;
    padding-left: 40px;
 }

 .run-contant h2{
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 15px;
 }
 .run-contant p{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
 }

 .join{
    border-radius: 42px; 
    background: rgb(230, 83, 60); 
    padding: 10px 40px;
    color: white;
    border: rgb(230, 83, 60);
 } 

 .run img{
    width: 360px;
    border-radius: 35px;
    padding: 27px;
    height: 300px;
 }