*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Inter;
    background: rgb(0, 0, 0);;
}

div{
    display: flex;
    width: 80%;
    margin: 20px auto;
    justify-content: space-between;
}
.button-nav{
    color: white;
    padding: 0px 5px;
    background:#1A1A1A;
     border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    align-items: center;
    width: 40%;
    font-size: 15px;
    margin-right: 35px;
}

/* menu bar done */